* {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  
}

.content-principal {
  width: 100%;
  height: 896px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url("../image/cropped.png");
  background-size: 100% 100% ;
}

header {
  width: 100%;
  height: 92px;
  display: flex;
  align-items: center;
  border-bottom: solid 1px rgba(255,255,255, 0.4);
}

.logo {
  width: 80px;
  height: 28.63px;
  margin-left: 79px;
}

.menu {
  width: 548px;
  height: 34px;
  display: flex;
  align-items: center;
  margin-left: 396.37px;
  justify-content: space-between;
  font-family: lato;
  font-weight: bold;
  font-size: 18px;
  color: #000 ;  
  list-style: none;
}

.image-menu {
  width: 175px;
  height: 34px;
  margin: 0 93.01px 0 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lupa {
  width: 35px;
  height: 33px;
}

.perfil {
  width: 38px;
  height: 23px;
}

.heart {
  width: 27.13px;
  height: 23px; 
}

.carrinho {
  width: 32.38px;
  height: 23px;
}

.circle {
  width: 612px;
  height: 626px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50%;
  border: solid 2px #fff;
}

.circle::before {
  content: "";
  width: 40px;
  height: 150px;
  background: #c1c7c6;
  transform: rotateZ(-35deg);
  position: absolute;
  bottom: 8%;
  left: 45px;
  mix-blend-mode: multiply;
}

.circle-description {
  font-weight: normal;
  color: #fff;
  font-family: bebas neue; 
  font-size: 30px;
  border-bottom: solid 1px #fff;
}

.circle-title {
  width: 435px;
  height: 169px;
  padding: 25px;
}

.circle-subtitle{
  font-weight: normal;
  color: #fff;
  font-family: bebas neue; 
  font-size: 48px;  
  padding-bottom: 20px;
}

.circle-box-button button{
  width: 138px;
  height: 60px;
  justify-content: space-around;
  background: #fff;
  font-family: lato; 
  text-transform: uppercase;
  font-size: 20px;
  color: #000;
  font-weight: bold;
  border: none;
  text-align: center;
  margin: 0 23.5px;
} 

/* ========================= FOOTER ========================= */

footer {
  width: 100%;
  height: 607px;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: aquamarine;
}

.image-description {
  width: 100%;
  height: 194px;
  display: flex;
  border: solid 1px #000;
 
}

.image-retangulo {
  width: 347.89px;
  height: 194px;
}

.image-triangulo {
  width: 347.17px;
  height: 195px;
  margin-left: 174px;
  position: absolute;
}

.cinzento {
  width: 1049px;
  height: 143px;
  display: flex;
  margin: 51px 0 0 45px;
  background-color: #8C8C8C;
}

.message {
  width: 60.75px;
  height: 46.25px;
}

.join {
  width: 237px;
  height: 58px;
  font-family: barlow;
  font-size: 24px;
  font-weight: bold;
  background-color: #434040;
  border: none;
  border-radius: 40px;
}

.footer-principal {
  width: 100%;
  height: 50px;
  background-color: blue;
}
.images {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item { 
  width: 494px;
  height: 397px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 49px ;
  justify-content: center;
  background-size: cover;
}

.item1 {
   background-image: url("../img/tenis.png");
}   
.item2 {
  background-image: url("../img/tenis\ 2.png");
}   
.item3 { 
  background-image: url("../img/tenis\ 3.png");
}

.box-text {
  width: 336px;
  height: 109px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 9px;
  border: 1px solid #ffffff;
}

.text { 
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24.38px;
  color: #ffffff;
}

.link {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  line-height:19.5px;
  color: #ffffff;
}


